.text-gray {
  color: #e94b35; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #2b3e51;
  background-color: #ecf0f1; }

a {
  color: #2c97de;
  text-decoration: none; }

img {
  max-width: 100%; }

main {
  text-align: center;
  padding: 2em 5%; }

h1 {
  font-size: 2rem;
  padding: 3em 0 .8em; }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 3.2rem; } }

/* --------------------------------

Primary style

-------------------------------- */
.feedback-container {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px #d2d2d2;
  transition: width 0.5s 0.15s, height 0.5s 0.15s;
  transition-timing-function: cubic-bezier(0.71, -0.34, 0.35, 1.11); }
  .feedback-container .feedback-trigger {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 13px;
    font-size: 16px;
    background: white;
    transition: border-radius 0s 1s, background-color 1s 0s; }
    .feedback-container .feedback-trigger img {
      width: 25px;
      height: 25px;
      max-width: none; }
      .feedback-container .feedback-trigger img.close {
        opacity: 0;
        width: 23px;
        height: 23px;
        padding: 5px 3px 3px; }
    .feedback-container .feedback-trigger .open,
    .feedback-container .feedback-trigger .close {
      position: absolute;
      transition: opacity .2s .5s; }
  .feedback-container.isOpen {
    width: 320px;
    height: 270px;
    transition: width 0.35s, height 0.35s;
    transition-timing-function: cubic-bezier(0.74, -0.18, 0.38, 1.32); }
    .feedback-container.isOpen .feedback-trigger {
      border-radius: 0px;
      transition: border-radius 0s, background-color .8s;
      background: #f6f6f6; }
      .feedback-container.isOpen .feedback-trigger .open {
        opacity: 0; }
      .feedback-container.isOpen .feedback-trigger .close {
        opacity: 1;
        animation: turnin 0.5s; }
      .feedback-container.isOpen .feedback-trigger .open,
      .feedback-container.isOpen .feedback-trigger .close {
        transition: opacity .2s .15s; }
@keyframes turnin {
  0% {
    transform: rotate(-80deg); }
  100% {
    transform: rotate(0deg); } }
.feedback-pages {
  width: 300%;
  height: 100%;
  background: white;
  opacity: 0;
  transition: opacity 1s .25s; }
  .isOpen .feedback-pages {
    opacity: 1;
    transition: opacity 0s 0s; }
  .feedback-pages .feedback-page {
    background: white;
    width: 33.33333%;
    height: 100%;
    padding: 15px;
    float: left;
    transform: translateX(0%);
    transition: transform .35s;
    transition-timing-function: cubic-bezier(0.89, -0.37, 0.48, 0.99); }
    [data-show-page="1"] .feedback-pages .feedback-page {
      transform: translateX(0%); }
    [data-show-page="2"] .feedback-pages .feedback-page {
      transform: translateX(-100%); }
    [data-show-page="3"] .feedback-pages .feedback-page {
      transform: translateX(-200%); }
  .feedback-pages .content {
    font-size: 12px;
    /* Show-Animation */ }
    .feedback-pages .content h1,
    .feedback-pages .content h2,
    .feedback-pages .content h3 {
      margin: 0;
      padding: 0; }
    .feedback-pages .content .content-title {
      font-size: 1.33333em;
      text-align: center;
      font-weight: bold;
      padding: 9px;
      line-height: 1.7; }
    .feedback-pages .content .content-submit {
      position: absolute;
      z-index: 5;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 16px;
      text-indent: -50px;
      text-align: center;
      color: white;
      background: #2c97de;
      font-size: 1.5em;
      font-weight: 500;
      align-items: center;
      transition: background .25s; }
      .feedback-pages .content .content-submit:hover {
        background: #2677ad; }
    .feedback-pages .content .content-textarea,
    .feedback-pages .content .content-input {
      border-radius: 5px;
      padding: 12px;
      width: 100%;
      margin-top: 10px;
      border: 1px solid #ddd; }
      .feedback-pages .content .content-textarea:focus,
      .feedback-pages .content .content-input:focus {
        outline: none;
        border-color: #2c97de;
        box-shadow: 0 0 5px rgba(44, 151, 222, 0.2); }
    .feedback-pages .content .content-textarea {
      height: 54%; }
    .feedback-pages .content .content-backlink {
      position: absolute;
      bottom: 70px; }
    .feedback-pages .content .content-title,
    .feedback-pages .content .content-textarea {
      opacity: 0;
      transition: opacity .5s 0s; }
      .isOpen .feedback-pages .content .content-title, .isOpen
      .feedback-pages .content .content-textarea {
        opacity: 1;
        transition: opacity .5s .25s; }

/*# sourceMappingURL=style.css.map */
