@import "../partials/_variables.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixins.scss";
@import "../partials/_base.scss";

$t_open: .5s;

/* --------------------------------

Primary style

-------------------------------- */

.feedback-container {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 50px;
    right: 50px;

    border-radius: 5px;
    overflow: hidden;

    transition: width 0.5s 0.15s, height 0.5s 0.15s;
    transition-timing-function: cubic-bezier(0.71, -0.34, 0.35, 1.11);

    &.isOpen {
        width: 300px;
        height: 300px;

        transition: width 0.4s, height 0.4s;
        transition-timing-function: cubic-bezier(0.74, -0.18, 0.38, 1.32);

        .feedback-trigger {
            border-radius: 0px;
            transition: border-radius 0s;
        }
    }

    .feedback-trigger {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 5px;
        position: absolute;

        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 20px 22px;
        font-size: 16px;
        background: white;

        transition: border-radius 0s 1s;
    }

}

.feedback-pages {
    width: 100%;
    height: 100%;

    .feedback-page {
        background: white;
        width: 100%;
        height: 100%;
        padding: 15px;
        display: none;

        &.isVisible {
            display: inline-block;
        }
    }

    .content {
        font-size: 12px;

        h1,
        h2,
        h3 {
            margin: 0;
            padding: 0;
        }

        .content-title {
            font-size: 1.33333em;
            text-align: center;
            font-weight: bold;
            padding: 15px;
        }

        .content-submit {
            position: absolute;
            z-index: 5;
            bottom: 0;
            left: 0;

            width: calc(100% - 50px);
            height: 50px;
            padding: 16px;

            text-align: center;

            color: white;
            background: #2c97de;

            font-size: 1.5em;
            font-weight: 500;

            align-items: center;
        }

        .content-textarea {
            border-radius: 5px;
            padding: 12px;
            border-color: #ddd;
            width: 100%;
            height: 54%;
            margin-top: 10px;
        }

        /* Show-Animation */

        .content-title,
        .content-textarea {
            opacity: 0;

            transition: opacity .5s 0s;

            .isOpen & {
                opacity: 1;
                transition: opacity .5s .25s;
            }
        }

    }

}
