@import "../partials/_variables.scss";
@import "../partials/_layout.scss";
@import "../partials/_mixins.scss";
@import "../partials/_helpers.scss";
@import "../partials/_base.scss";

$t_open: .5s;
$pages: 3;

/* --------------------------------

Primary style

-------------------------------- */

.feedback-container {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 50px;
    right: 50px;

    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #d2d2d2;

    transition: width 0.5s 0.15s, height 0.5s 0.15s;
    transition-timing-function: cubic-bezier(0.71, -0.34, 0.35, 1.11);

    .feedback-trigger {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 5px;
        position: absolute;

        right: 0;
        bottom: 0;
        z-index: 10;
        padding: 13px;
        font-size: 16px;
        background: white;

        transition: border-radius 0s 1s, background-color 1s 0s;

        img {
            width: 25px;
            height: 25px;
            max-width: none;

            &.close {
                opacity: 0;
                width: 23px;
                height: 23px;
                padding: 5px 3px 3px;
            }
        }

        .open,
        .close {
            position: absolute;
            transition: opacity .2s .5s;
        }

    }

    &.isOpen {
        width: 320px;
        height: 270px;

        transition: width 0.35s, height 0.35s;
        transition-timing-function: cubic-bezier(0.74, -0.18, 0.38, 1.32);

        .feedback-trigger {
            border-radius: 0px;
            transition: border-radius 0s, background-color .8s;
            background: #f6f6f6;

            .open  { opacity: 0; }
            .close { opacity: 1; animation: turnin .4s; }

            .open,
            .close {
                transition: opacity .2s .15s;
            }

        }

        @keyframes turnin {
            0%   { transform: rotate(-80deg) }
            100% { transform: rotate(0deg)  }
        }

    }

}


.feedback-pages {
    width: $pages * 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity 1s .25s;

    .isOpen & {
        opacity: 1;
        transition: opacity 0s 0s;
    }

    .feedback-page {
        background: white;
        width: 100% / $pages;
        height: 100%;
        padding: 15px;
        float: left;

        transform: translateX(0%);
        transition: transform .35s;
        transition-timing-function: cubic-bezier(0.89, -0.37, 0.48, 0.99);

        [data-show-page="1"] & { transform: translateX(0%); }
        [data-show-page="2"] & { transform: translateX(-100%); }
        [data-show-page="3"] & { transform: translateX(-200%); }

    }

    .content {
        font-size: 12px;

        h1,
        h2,
        h3 {
            margin: 0;
            padding: 0;
        }

        .content-title {
            font-size: 1.33333em;
            text-align: center;
            font-weight: bold;
            padding: 9px;
            line-height: 1.7;
        }

        .content-submit {
            position: absolute;
            z-index: 5;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 50px;
            padding: 19px;
            text-indent: -50px;
            text-align: center;

            color: white;
            background: #2c97de;

            font-size: 1.3em;
            font-weight: 500;

            align-items: center;
            transition: background .25s;

            &:hover {
                background: #2677ad;
            }

        }

        .content-textarea,
        .content-input {
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            margin-top: 10px;
            border: 1px solid #ddd;

            &:focus {
                outline: none;
                border-color: #2c97de;
                box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
            }

            &.required {
                background: url("../svg/icon-required.svg") no-repeat 277px -9px transparent;

                &.isValid {
                    background: none;
                }

            }
        }

        .content-textarea {
            height: 54%;
        }

        .content-backlink {
            position: absolute;
            bottom: 70px;
        }

        /* Show-Animation */

        .content-title,
        .content-textarea {
            opacity: 0;

            transition: opacity .5s 0s;

            .isOpen & {
                opacity: 1;
                transition: opacity .5s .25s;
            }
        }

    }

}
